*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TransPostList {
  margin: auto;
}

.TransPostList tr, th, td {
  box-shadow: 1px 1px 3px 0.1px rgb(221, 221, 221);
}


.TransPostList table {
  width: 80%;
  margin: auto;
}

.TransPostList tr {
  height: 50px;
}

.TransPostList th {
  /* border-top: 2px solid #519D9E; */
  width: 120px;
}