*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.TransPostList {
  margin: auto;
  padding: 100px;
}

.TransPostList .title, .btn {
  text-align: center;
}
.TransPostList h1 {
  margin-bottom: 50px;
}

.TransPostList tr, th, td {
  box-shadow: 1px 1px 3px 0.1px rgb(221, 221, 221);
}


.TransPostList table {
  width: 50%;
  margin: auto;
}

.TransPostList tr {
  height: 80px;
}

.TransPostList th {
  border-top: 2px solid #40A940;
  width: 120px;
}

.TransPostList .square {
  width: 50px;
  margin: 10px;
}

.TransPostList input {
  border: none;
  padding: 5px;
  height: 35px;
}

.TransPostList .click {
  border: 1px solid #F8F8FF;
  width: 120px;
  height: 45px;
  font-weight: bolder;
  background-color: #519D9E;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;
}

.TransPostList .noClick {
  border: 1px solid #F8F8FF;
  width: 120px;
  height: 45px;
  font-weight: bolder;
  background-color: #9DC8C8;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;
}
