
.deleteInfo .ulList {
  list-style-type: none;
  background-color: none;
  width: 10%;
  padding: 0px;
  padding-left: 0px;
  margin:  0px;
  margin-left: 15%;
  position: absolute;
  height: 100%;
  overflow: auto;
  border : 0.5px solid #eee;
  border-radius: 5px;
  font-size: 15px;
}



.deleteInfo li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 8px 15px 8px 15px;
  font-weight: 300;
}

.deleteInfo li a.job {
  background-color: blue;
  font-weight: bold;
  color: #fff;
}

.deleteInfo li a:hover:not(.job) {
  background-color: #333;
  color: #fff;
}


.deleteInfo .main{
  margin-left: 30%;
  padding: 1px 16px;
  height: 1000px;
  width: 40%;
}

.deleteInfo .beforeDelete {
  border: 0.5px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  height: 150px;
  text-align: center;
}

.deleteInfo div .delete1 {
  padding-top: 20px;
  margin: 5px;
}

.deleteInfo .selectForm {
  width: 30%;
}