.Mileage {
  width: 60%;
  margin: 80px auto 300px auto;
}

.Mileage .choosePayment {
  text-align: center;
  text-align: center;
  color : #40A940;
  font-weight: bold;
  border-top: 1px solid #40A940;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  height: 50px;
  line-height: 45px;
  margin-bottom: 10px;
}

.Mileage .payul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.Mileage .payul li {
  height: 50px;
  font-size: 14px;
  text-align: center;
  border: 0.5px solid #eee;
  line-height: 50px;

}