
.reply-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.reply-section h3 {
  font-size: 18px;
}

.reply-textarea {
  width: 640px;
  padding: 10px;
  margin: 0px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;

}

.reply-btn {
    position: absolute;
    bottom: 198px;
    width: 63px;
    height: 67px; 
}



