.replyWrite{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.replyWrite .comment-list{
  height: 50px;
}

.replyWrite .replyListmap{
  height: 50px;
}

.replyWrite .add-reply{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.replyWrite .reply-textarea{
  width: 85%;
  height: 80px;
  padding: 10px;
}

.replyWrite .click {
  border: 1px solid #F8F8FF;
  width: 80px;
  height: 80px;
  font-weight: bolder;
  background-color: #9DC8C8;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;
}