.write{
  text-align: center;
}

.title-input{
  margin-top: 80px;
  
}

.writetitle{
  width: 700px;
  height: 35px; 
  border: 3px solid #40A940;

  padding: 5px;


  
  color: black;
  
}

.titlespan{
  font-size: 25px;
  font-weight: 600;
  margin-right: 16px;
}

.contentarea{
  border: 3px solid #40A940;
  padding: 5px;
  position: relative;
  left: 31px;
}
.contentspan{
  left: 578px;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
}

.sumitbtn{
  width: 230px;
  margin-left: 55px;
}
.backbtn{
  width: 233px;
}

.resetbtn{
  width: 233px;

}

.clickbtn{
  text-align: center;
}

.linknone{
  text-decoration: none;
  color: red;
}