.notice table {
  border-collapse: collapse;
  border-spacing: 0;
}
.notice section.noti {
  margin: auto;
  width: 80%;
  margin-top: -5.8%;
}


.notice .container{
  width: 80%;
}

.notice .ulList{
  list-style-type: none;
  background-color: none;
  width: 20%;
  padding: 0px;
  padding-left: 0px;
  margin:  0px;
  margin-left: 10%;
  position: absolute;
  overflow: auto;
  border : 0.5px solid #eee;
  border-radius: 5px;

}

.notice .page-title {
  margin-bottom: 60px;
}
.notice .page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.notice #board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
.notice #board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
.notice #board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
.notice #board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
.notice #board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.notice .board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.notice .board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.notice .board-table a:hover {
  text-decoration: underline;
}
.notice .board-table th {
  text-align: center;
}

.notice .board-table .th-num {
  width: 100px;
  text-align: center;
}

.notice .board-table .th-date {
  width: 200px;
}

.notice .board-table th, .board-table td {
  padding: 14px 0;
}

.notice .board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.notice .board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.notice .board-table tbody th p{
  display: none;
}

.notice .btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.notice .btn-dark {
  background: #555;
  color: #fff;
}

.notice .btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.notice .btn-dark {
  background:#519D9E;
  color: #fff;
}

.notice .btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.notice .clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.notice .container {
  width: 1100px;
  margin: 0 auto;
}
.notice .blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.notice .add{
  float: right;
  margin-bottom: 20px;
  padding: 0 30px;
}

.notice .ulList {
  list-style-type: none;
  background-color: none;
  width: 10%;
  padding: 0px;
  padding-left: 0px;
  margin:  0px;
  margin-left: 10%;
  position: absolute;
  /* height: 100%; */
  overflow: auto;
  border : 0.5px solid #eee;
  border-radius: 5px;
}


.notice .ulList .font {
  font-size: 15px;
}

.notice .ulList li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 8px 15px 8px 15px;
  font-weight: 300;
}

.notice .ulList li a.job {
  background-color: blue;
  font-weight: bold;
  color: #fff;
}

.notice .ulList li a:hover:not(.job) {
  background-color: #333;
  color: #fff;
}

/* <div style="margin-left:25%;padding:1px 16px;height:1000px;"> */

.notice .ulList div .main{
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
}

th > a {
  text-decoration: none;
}





