.questionmain .plus{
  float: right;
  position: relative;
  right: 10px;
}

.questionmain .stcs{
  border-bottom: 1px solid rgba(0,0,0,0.23);
  height: 40px;
  line-height: 40px;
  background-color: #EFEFEF;
  color: rgb(52, 8, 8);
 
}

.questionmain  td:last-child {
  border-right: 0px;
}

.questionmain  th.text-left {
  text-align: left;
  background-color: #9DC8C8;
}

.questionmain  th.text-center {
  text-align: center;
}

.questionmain  th.text-right {
  text-align: right;
}

.questionmain  td.text-left {
  text-align: left;
}

.questionmain  td.text-center {
  text-align: center;
}

.questionmain  td.text-right {
  text-align: right;
}
.questionmain  .table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}


/*** Table Styles **/

.questionmain .table-fill {
 background: white;
 border-radius: 3px;
 border-collapse: collapse;
 height: 169px;
 margin: auto;
 max-width: 354px;
 padding: 5px;
 width: 100%;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 animation: float 5s infinite;
}

.questionmain  th {
 color:#D5DDE5;;
 background:#1b1e24;
 border-bottom:3px solid #EBEBEB;
 border-right: 1px solid #343a45;
 font-size:23px;
 font-weight: 100;
 padding:15px;
 text-align:left;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 vertical-align: middle;
}

.questionmain  th:first-child {
 border-top-left-radius:3px;
}

.questionmain  th:last-child {
 border-top-right-radius:3px;
 border-right:none;
}
 
.questionmain  tr {
 border-top: 1px solid #C1C3D1;
 border-bottom : 1px solid #C1C3D1;
 color:#666B85;
 font-size:16px;
 font-weight:normal;
 text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.questionmain  tr:hover td {
 background:#4E5066;
 color: black;
 border-top: 1px solid #EBEBEB;
}

.questionmain tr:first-child {
 border-top:none;
}

.questionmain tr:last-child {
 border-bottom:none;
}

.questionmain tr:nth-child(odd) td {
 background:whitesmoke;
}

.questionmain  tr:nth-child(odd):hover td {
 background: #EBEBEB;
}

.questionmain  Link{
  color: black;
}

.questionmain .TfiComment{
  float: left;
  position: relative;
  top: 7px;
  left: -8px;
  color: black;
}


.questionmain {
  width: 20%;
}

.questionmain .questiontab{
  height : 250px; 
}

.questionmain  .linktitle{
  text-decoration: none;
  color: black;
}

.questionmain .questiontab{
    height: 250px;
  
}
