 .myPageBar .ulList {
  margin-top: 58px;
  list-style-type: none;
  background-color: none;
  width: 10%;
  padding: 0px;
  padding-left: 0px;
  margin:  0px;
  margin-left: 20%;
  position: absolute;
  height: auto;
  overflow: auto;
  border : 0.5px solid #eee;
  border-radius: 5px;
}

.font {
  font-size: 15px;
}

.myPageBar li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 8px 15px 8px 15px;
  font-weight: 300;
}


.myPageBar li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 8px 15px 8px 15px;
  font-weight: 300;
}

.myPageBar li a.job {
  background-color: #519D9E;
  font-weight: bold;
  color: #fff;
}


.myPageBar li a:hover:not(.job) {
  background-color: #333;
  color: #fff;
}

/* <div style="margin-left:25%;padding:1px 16px;height:1000px;"> */

.myPageBar .main{
  margin-left: 30%;
  padding: 1px 16px;
  height: 1000px;
}