.wrapper {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  border: 1px solid #eee;
}

.userId {
  font-size: 15px;
}

.loginUserId {
  font-size : 12px;
  font-weight: bold;
}

.bar {
  border-bottom: 1px solid #eee;
  margin: 15px;
}