.TransDetail {
  width: 50vw;
  margin: auto;
}
.TransDetail .firstLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.TransDetail .card {
  box-shadow: 1px 1px 3px 0.1px rgb(221, 221, 221);
  border-top: 2px solid #519D9E;
  border-bottom: 2px solid #519D9E;
  height: 227px;
}

.TransDetail .gradeImg {
  /* height: 130px; */
  width: 100px;
  margin: 10px auto 0 auto;
}


.TransDetail .grade{
  margin-bottom: 12px;
}

.TransDetail .itemTable {
  width: 50vw;
  border: none;
}

.TransDetail .tableLeft{
  font-weight:  500;
  font-size: 15px;
  float: left;
}

.TransDetail tr, .TransDetail th, .TransDetail td {
  box-shadow: 1px 1px 3px 0.1px rgb(221, 221, 221);
}

.TransDetail tr {
  height: 70px;

}

.TransDetail th {
  border-top: 2px solid #519D9E;
  width: 8vw;
}

.TransDetail .bottom {
  border-bottom: 2px solid #519D9E;
}

.TransDetail .write > p {
  float: right;
  margin: 8px;
  line-height: 40px;
}

.TransDetail .writeBtn {
  float: right;
  margin: 8px;
}

.TransDetail .updateBtn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  font-size: 16px;
}

.TransDetail .deleteBtn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  font-size: 16px;
  margin-left: 10px;
}


.TransDetail .secondLayout {
  clear: both;
  margin: 20px 0px;
  padding: 10px;
}

.TransDetail input {
  outline: none;
  border: none;
  padding: 5px;
  height: 35px;
  width: 250px;
  margin-left: 10px;
  
}

.TransDetail textarea {
  height: 700px;
  width: 49.5vw;
  font-size: 19px;
  padding:20px 30px;
  box-shadow: 1px 1px 3px 1px rgb(221, 221, 221);
  border: none;
}

.TransDetail textarea:focus {
  outline: none;
}

.TransDetail h2 {
  margin: 20px;
}

.TransDetail .thirdLayout {
  box-shadow: 1px 1px 3px 1px rgb(221, 221, 221);
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
}

.TransDetail span {
  float: right;
  margin-top: 10px;
  font-size: larger;
  margin-right: 30px;
}

.TransDetail .totalPrice {
  width: 130px;
  font-size: 20px;
  font-weight: bolder;
  color: #af82c9;
  text-align:right;
}

.TransDetail .detailBtn {
  text-align: center;
}

.TransDetail .cancel {
  border: 1px solid #e0e0e0;
  width: 300px;
  height: 45px;
  font-weight: bolder;
  background-color: white;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;
  text-align: center;
}

.TransDetail .buy {
  border: 1px solid #F8F8FF;
  width: 300px;
  height: 45px;
  font-weight: bolder;
  background-color: #9DC8C8;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;

}
