.Main {
  /* border: 1px solid red; */
  width: 67%;
  margin: auto;
}

.Main .carouselImg {
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 15px;
}

.Main h6 {
  font-weight: bolder;
}

.Main .one {
 margin-right: 30px;
}

.Main .firstLayout, .Main .thirdLayout  {
  /* border: 1px solid black; */
 
  display: flex;
  padding-top: 15px;
  margin-top: 10px;
}

.Main .firstItem, .Main .thirdItem, .Main .secondLayout {
  box-shadow: 1px 1px 3px 1px rgb(221, 221, 221);
  padding: 20px 18px;
  width: 50%;
  /* height: 300px; */
}

.Main iframe {
  margin: 0.5px;
  height: 200px;
  width: 300px;
}

.Main .youtube {
  display: flex;
}

.Main .secondLayout {
  width: 100%;
  padding-top: 15px;
  margin-top: 25px;
}

.Main .cs {
text-align: center;
}

.Main h2 {
 color: #519D9E;
 margin: 50px 0;
}