.MemberSignup {
  width: 70%;
  margin-left : 15%;
}

.signupForm {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 80%; 
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.textFieldContainer {
  display: flex;
  align-items: center;
}

.textFieldContainer p {
  margin-right: 10px;
}

.MemberSignup p {
  width: 10%;
  font-size: 13px;
  font-weight: bold;
}

.underBtn {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.rightBtn {
  display: flex;
  gap: 5px;
}

.errorMsg {
  width: 20%;
  margin-left: 8%;
}
.idInspection {
  width: 40%;
  margin-left: 9%;
  font-weight: normal;
}
.pwInspection {
  width: 69%;
  margin-left: 8%;
  font-weight: normal;
}

.blueText {
  color : blue;
}
.redText {
  color : red;
}

.BtnTextField {
  display: flex;
  width: 79%;
}

.signBtn {
  margin-bottom: 5%;
}

.myaddressBox {
  width: 400px;
  height: 400px;
}