*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.TransSearch {
  width: 50vw;
  margin: auto;
}

.TransSearch .title {
 text-align: center;
 margin: 30px;
}

.TransSearch .btn {
margin-bottom: 100px;
}

.TransSearch .searchBtn {
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 45px;
  background-color: white;
  font-size: 25px;
}

.TransSearch .searchBtn:hover {
  background-color: #9DC8C8;
}

.TransSearch tr, th, td {
  box-shadow: 1px 1px 3px 0.1px rgb(221, 221, 221);
}

.TransSearch table {
  width: 50vw;
  margin: auto;
}

.TransSearch tr {
  height: 80px;
}

.TransSearch th {
  border-top: 2px solid #519D9E;
  width: 8vw;
}

.TransSearch td {
  margin: auto;
}

.TransSearch .square {
  width: 10vw;
  margin-right: 5px;
}

.TransSearch input {
  outline: none;
  border: none;
  padding: 5px;
  height: 35px;
  width: 250px;
  margin-left: 10px;
}

.TransSearch p {
  margin-left: 10px;
  width: 150px;
}

.TransSearch td > button {
  margin: auto;
} 

.TransSearch .keywordSearch {
  /* display: flex;
  justify-content:space-between;
  align-items: center;
  height: 80px; */
}

.TransSearch input[placeholder] {
  text-align: right;
}

.TransSearch .click {
  border: 1px solid #F8F8FF;
  width: 120px;
  height: 45px;
  font-weight: bolder;
  background-color: #9DC8C8;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;
  text-align: center;
}

.TransSearch .noClick {
  border: 1px solid #e0e0e0;
  width: 120px;
  height: 45px;
  font-weight: bolder;
  background-color: white;
  color: #3B4E32;
  border-radius: 6px;
  margin: 15px;
  text-align: center;
}


