*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TransPostList {
  width: 80vw;
  margin: auto;
}

.TransPostList .title {
  margin: 50px 30px;
  text-align: center;
}

.TransPostList .select {
  display: flex;
  justify-content:space-between;
}

.TransPostList input[type=radio] {
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.TransPostList label {
  line-height: 30px;
}

.TransPostList tr, th, td {
  box-shadow: 1px 1px 3px 0.1px rgb(221, 221, 221);
}


.TransPostList table {
  width: 100%;
}

.TransPostList tr {
  height: 50px;
}

.TransPostList th {
  /* border-top: 2px solid #519D9E; */
  width: 120px;
}