.InTrans {
  margin-top: 5%;
  width: 40%;
  margin: auto;
  padding: 1px 16px;
}


.InTrans table {
  margin: auto;
}

.InTrans .turnOver {
  background-color: #519D9E;
  border: none;
}

.InTrans .turnOver:hover {
  background-color: #519D9E;
  opacity: 0.7;
}

.InTrans .takeOver {
  background-color: #519D9E;
  border: none;
}

.InTrans .takeOver:hover {
  background-color: #519D9E;
  opacity: 0.7;
}

.InTrans .returnHandler {
  background-color: #519D9E;
  border : none;
}

.InTrans .returnHandler:hover {
  background-color: #519D9E;
  opacity: 0.7;
  border: none;
}

.InTrans .testTh {
  border-right: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #519D9E;
  border-top : 1px solid #519D9E;
}


.InTrans .testTd {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}