.TestTrans {
  margin-top: 5%;
  margin-left: 25%;
  padding: 1px 16px;
}


.TestTrans .testTh {
  border-right: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid blue;
  border-top : 1px solid blue;
}


.TestTrans .testTd {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}