.Footer {
  /* margin: 100px auto 50px auto; */
  /* border-top: 1px solid rgb(221, 221, 221); */
  box-shadow: 1px 1px 3px 1px rgb(221, 221, 221);
  padding: 5px;
  margin: 100px 0 0 0;
  width: 100%;
  font-size: 14px;
}

.Footer .firstLayout, .Footer .secondLayout {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.Footer img {
  height: 50px;
  width: 120px;
}

.Footer p {
  margin: 0px 10px;
  color: rgb(110, 110, 110);
  font-size: 12px;
}

.Footer .firstItem, .Footer .scondItem {
  display: flex;
}

.Footer .secondLayout {
  border-top: 1px solid lightgray;
  padding-top: 20px;
}

.Footer .secondLayout .firstItem {
  padding-top: 10px;
}

.Footer .linkTag {
  text-decoration: none;
  color: black;
}

.Footer .linkTag:hover {
  text-decoration: none;
  color: #D1B6E1;
 /* #9DC8C8
    #58C9B9
    #519D9E
    #D1B6E1 */
}