.Mileage .choosePayment {
  /* style={{width : "500px", textAlign : "center", color : "#40A940", fontWeight : "bold", borderTop : "1px solid #40A940 ", height : "50px"} */
  width: 790px;
  text-align: center;
  color : #40A940;
  font-weight: bold;
  border-top: 1px solid #40A940;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  height: 50px;
}

.Mileage {
  margin-top: 5%;
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

/* .payment {
  border: 0.5px solid #eee;
  border-top: none;
  color: black;
  background-color: white;
  width: 20%;
  height: 200px;
  padding: 0px;
} */


.Mileage .payul {
  float: left;
  width: 840px;
  margin: 0;
  padding: 0;
  margin-right: 0;
  justify-content: center;
}

.Mileage .payul li {
  float : left;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0px;
  list-style: none;
  border: 0.5px solid #eee;
  width: 190px;
  height: 40px;
  font-size: 12px;
  text-align: center;
}

.Mileage .payul li:hover {
  background-color: #40A940;
  opacity: 0.8;
  color: white;
}


.Mileage .payopt {
  margin-top: 25px;
  margin-left: 10px;
  height: 50px;
  border: none;
}

.Mileage .content {
  width: 790px;
  margin-top: 10%;
  border-bottom: 0px;
}
