.headercontainer .wrapper {
  display: flex;
  flex-direction: column;
}

.headercontainer .fl_left {
  float: left;
}

.headercontainer .topnav {
  position: relative;
  right: 50px;
}

.headercontainer .fl_right {
  float: right;
}

.headercontainer .fl_left img {
  width: 15px;

}

.headercontainer #topbar {
  padding: 15px 0;
  font-size: .8rem;
  text-transform: uppercase;
}

.headercontainer #topbar * {
  margin: 0;
  text-decoration: none
}

.headercontainer #topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid;
}

.headercontainer #topbar ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.headercontainer #topbar i {
  margin: 0 5px 0 0;
  line-height: normal;
}

.headercontainer .row0,
.row0 a {
  color: #474747;
  background-color: #EFEFEF;
}

.headercontainer #topbar ul li {
  border-color: rgba(0, 0, 0, .1);
}

.headercontainer #topbar>div:last-of-type li:first-child a {
  color: #00ADEF;
}

.headercontainer .headsh {
  text-align: center;
  margin-top: 30px;
}

.headercontainer .headsh #search{
  width: 40%;
  height: 42px;

}

.headercontainer #nav>ul>li.current {
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
}

.headercontainer #nav {
  margin: 2.5em 0 0 0;
}

.headercontainer #nav>ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.headercontainer #nav>ul>li {
  display: inline-block;
  /* font-style: italic; */
  font-weight: bold;
  margin: 0 0.35em 0 0.35em;


}

.headercontainer li>a {
  display: inline;

}

.headercontainer #nav>ul>li>a {
  border-radius: 5px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  outline: 0;
  font-weight: normal;
  color: white;
}

.headercontainer .bigheader{
    text-align: center;
    top: 30px;
    margin-top: 50px;
    height: 60px;
    background-color:#519D9E ;
    justify-content: center;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.headercontainer {
  margin: auto;

}

.headercontainer .bigtabnav {
  position: relative;
  right: 20px;
  bottom: 23px;

}

.headercontainer #nav {
  padding-right: 25px;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.headercontainer #nav li{
  display:inline;
}
.headercontainer #nav a{
  display:inline-block;
  padding:10px;

}

.headercontainer .one{
  margin-left: 100px;
  color: white;
  font-size: 20px;
  margin-top: 15%;
}

.headercontainer #nav a {
  display: inline-block;
  padding: 10px;
}

.headercontainer #search {
  border: 3px solid #519D9E;
  border-right: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;

}

.headercontainer .searchButton {
  width: 80px;
  height: 45px;
  border: 1px solid #519D9E;
  background: #519D9E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 21px;
}

.headercontainer .gameimg{
  width: 12%;
  height: 30%;
}

