.wrapper{
  display: flex;
  flex-direction: column;
}

.fl_left{
  float: left;
}

.topnav{
  position: relative;
  right: 50px;
}

.fl_right{
  float: right;
}

.fl_left img{
  width: 15px;

}

#topbar{padding:15px 0; font-size:.8rem; text-transform:uppercase; }

#topbar *{margin:0; text-decoration : none}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}

.row0, .row0 a{color:#474747; background-color:#EFEFEF;}

#topbar ul li{border-color:rgba(0,0,0,.1);}
#topbar > div:last-of-type li:first-child a{color:#00ADEF;}

.headsh{
  text-align: center;
  margin-top: 50px;
}

.headsh #search{
  width: 40%;
  height: 40px;

}

.headbtn{
  height: 40px;
  
  
}

#nav > ul > li.current  {
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
}

#nav {
  margin: 2.5em 0 0 0;
}

#nav > ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

#nav > ul > li {
  display: inline-block;
  /* font-style: italic; */
  font-weight: bold;
  margin: 0 0.35em 0 0.35em;
  
  
}

li > a{
  display: inline;

}

#nav > ul > li >a{
  border-radius: 5px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  outline: 0;
  font-weight: normal;
  color: white;
}


.bigheader{
  
    text-align: center;
    top: 30px;
    margin-top: 50px;
    height: 60px;
    background-color:#519D9E ;
    justify-content: center;
 
    
 
}
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.headercontainer{
  margin: auto;
  
}

.bigtabnav{
  position: relative;
  right: 20px;
  bottom: 23px;
  
}

.mainlogo{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 130px;
  top: 25px;
}

#nav{
  padding-right: 25px;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
#nav li{
  display:inline;
}
#nav a{
  display:inline-block;
  padding:10px;

}

.one{
  margin-left: 100px;
  color: white;
}


body{
  background: #ffff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#search { 
  width: 100%;
  border: 3px solid #519D9E;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

#search:focus{
  color: black;
}

.searchButton {
  width: 80px;
  height: 41px;
  border: 0px solid #519D9E;
  background: #519D9E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


